@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tiptap {
  padding: 14px;
  font-size: 20px;
  line-height: 40px;
  word-break: break-word;
  font-family: var(--font-comfotaa);

  .empty-paragraph {
    min-height: 1em;
    width: 100%;
  }

  .is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  img {
    margin: 10px auto 10px auto;
  }

  pre {
    background: #0d0d0d;
    border-radius: 0.5rem;
    font-family: "JetBrainsMono", monospace;
    margin: 10px 0 10px 0;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    line-height: 1.2rem;

    code {
      background: none;
      color: inherit;
      padding: 0;
      line-height: 28px;
      font-size: 14px;
      text-wrap: wrap;
    }
  }

  blockquote {
    border-left: 3px solid gray;
    margin: 2rem 0 2rem 1rem;
    font-style: italic;
    padding-left: 1rem;
  }

  ul,
  ol {
    padding: 0 1rem;
    list-style: disc;
  }
}

.tiptap:focus-visible {
  outline: none;
}

.light {
  .tiptap {
    color: #262626;

    .is-editor-empty:first-child::before {
      color: #262626;
    }

    pre {
      background: #2d2d2d;
      color: #ececec;
    }

    blockquote {
      color: gray;
    }
  }

  .ag-root-wrapper {
    background: transparent;
    border: none;
    .ag-header {
      background: transparent;
    }
    .ag-row {
      background: transparent;
    }
    .ag-picker-field-wrapper {
      background: transparent;
    }
    .ag-popup {
      background: transparent;
      display: block;
    }

    .ag-rich-select-value {
      background: transparent;
    }
  }
}

.dark {
  .tiptap {
    color: #ececec;

    .is-editor-empty:first-child::before {
      color: #ececec;
    }

    pre {
      background: #2d2d2d;
    }

    blockquote {
      color: rgb(154, 154, 154);
    }
  }

  .ag-root-wrapper {
    background: transparent;
    border: none;
    .ag-header {
      background: transparent;
    }
    .ag-row {
      background: transparent;
    }
  }
}
