@tailwind base;
@tailwind components;
@tailwind utilities;


.tiptap {
  padding: 14px;
  font-size: 20px;
  line-height: 2rem;

  .empty-paragraph {
    min-height: 1em;
    width: 100%;
  }

  .is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  img {
    margin: 10px 0 10px 0
  }

  pre {
    background: #0d0d0d;
    border-radius: 0.5rem;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    line-height: normal;

    code {
      background: none;
      color: inherit;
      font-size: 14px;
      padding: 0;
      text-wrap: wrap;
    }
  }

  blockquote {
    border-left: 3px solid gray;
    margin: 1rem 0 0 1rem;
    font-style: italic;
    padding: 1rem;
  }

  ul,
  ol {
    padding: 0 1rem;
    list-style: disc;
  }
}

.tiptap:focus-visible {
  outline: none;
}

.light {
  .tiptap {
    color: black;

    pre {
      color: white;
    }

    blockquote {
      color: gray;
    }
  }
}

.dark {
  .tiptap {
    color: white;

    pre {
      background: #2d2d2d;
    }

    blockquote {
      color: rgb(154, 154, 154);
    }
  }
}
